
h1 	{color:#e74332;  position:relative;}
h2 	{color:#fff; }
h3 	{color: #0064A6; font-size:1.8em;  margin-bottom:10%;} /* sto login, o titlos! */
h4 	{color:#fff; }
h5	{ font-size:1.6em; color:#fff; position:absolute; margin:60px; 
	padding-top: 10px; font-weight: 400;} /* gia to intro*/
	
	
body {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	background:url("bg-texture-dark.png");repeat scroll 0% 0% transparent;
	/*background:url("background.jpg"); */
	
}

canvas {
	display: none;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 80px;		
}

.main {
	width:480px; 
	height:680px; 
	margin:auto; 
	position:relative;
	background:url("bg-texture.png"); repeat scroll 0% 0% transparent;
}


.general_button {
	background:transparent; 
	border:none; 
	cursor:pointer; 
	outline:none; 
	display:block;
	margin: auto;
}

/* ---INTRO--- */

#first	{display:block;}

.intro {
	width:463 px;
	background:url("intro-bg.svg"); no-repeat center; 
	min-height:545px;
	position:relative;
}

.intro .general_button 	{position:relative; top:430px;}

/* ---LOGIN--- */
#login	 	{display:none;}

.login_main 	{width:300px; height:300px; margin:auto;}

#login label 	{font-size:1.2em; font-weight: 400; color: #404041;}

#login input {  
	width:300px; 
	outline:none; 
	padding: 0px; 
	margin: 5% 0px;
	height:40px; 
	border:none;
	border-radius: 20px;
}

#login .general_button { margin-top:15%;}

/* ---I'M IN --- */
#imin 		{display:none; position:relative;}

#logo {
    position: relative;
    margin: auto;
    padding-top: 20px;
    display: block;
}

#imin .general_button {
	margin: 18% auto;
    position: relative;
}

#imin-menu {
	margin: auto;
	position: relative;
	display: block;
	top: -12px;
}

/* ---GAMEPLAY--- */
#gameplay 	{display:none;}

.gm_footer 		{ }
.gm_footer ul 	{margin: 0px; padding: 0px 20px;}
.gm_footer ul li	{display:inline-block; max-height:30px; padding: 0px 10px;}

.gm_footer span 	{  }


.board {
	position:relative;
}

#time {
	position: absolute;
	top: 5px;
    left: 40px;
}


#timer {
	color:#076A8A; 
	font-size:15px; 
	position:relative; 
}


#test1 {
/*	margin:auto; 
	width:300px; */
	display:none;
	color:#076A8A; 
}

#test2 {
	position: absolute;
	top: 5px;
    left: 40px;
	color:#076A8A; 
}

#menus {
	width:480px; 
	height:620px; 
	background:url('opacity.png') repeat; 
	display:none; 
	position:absolute; 
	z-index:100;
}

#ex 		{margin: 10px; float : right;}

.badges 		{float:left;}
.badges ul li 	{display:inline-flex; margin:10px; margin-top:0; padding:0;}
.badges img 	{ margin-right:20px;}


.buttons {
	width:28%; 
	height:40px; 
	border:none; 
	background:#fff;	
	margin-left:10px; 
	margin-right:10px; 
	float:left; 
	margin-top:30px; 
	outline:none; 
	cursor:pointer;
}



